body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(#348BB4 1.38%, #2B6A88 22.36%, #2f6179 47.1%, #2B6A88 72.69%, #348BB4 99.33%);
}
body .header { 
    width: 85%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
body .header img {
    width: 200px;
}
#box {
    margin: 50px;
    width: 800px;
    height: 450px;
    border: 1px solid rgb(255, 255, 255);
}
#layer-top {
    height: 100%;
    position: relative;
    top: -560px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: none;
}
#layer-top p {
    font-size: 50px;
    color: #348BB4;
}
#layer-top button {
    width: 200px;
    height: 40px;
    font-size: 18px;
    border: 0px;
    background-color: #348BB4;
    color: white;
    cursor: pointer;
}
#layer-top button:hover {
    background-color: #4aa1ca;
}
#score {
    width: 10%;
    height: 20px;
    position: relative;
    top: -520px;
    left: 88%;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 24px;
}
#ponka {
    height: 400px;
    position: relative;
    top: 0px;
    left: 10px;
    background-image: url(ponka1.png);
    background-size: 200px;
    background-repeat: no-repeat;
}
#ponka2 {
    height: 400px;
    position: relative;
    top: 0px;
    left: 10px;
    background-image: url(ponka1_22.png);
    background-size: 200px;
    background-repeat: no-repeat;
}
.stop1 {
    animation: stop1 0.8s infinite;
}
.stop2 {
    animation: stop2 0.8s infinite;
}
.jump {
    animation: jump 0.8s infinite;
}
.jump2 {
    animation: jump2 0.8s infinite;
}
.run {
    animation: run 0.42s infinite;
}
.run2 {
    animation: run2 0.42s infinite;
}
@keyframes jump {
    0%{top: 0px;}
    60%{top: -70px; background-image: url(ponka4.png);}
    100%{top: 0px;}
}
@keyframes jump2 {
    0%{top: 0px;}
    60%{top: -70px; background-image: url(ponka4_22.png);}
    100%{top: 0px;}
}
@keyframes run {
    0%{background-image: url(ponka2.png);}
    50%{background-image: url(ponka3.png);}
    100%{background-image: url(ponka1.png);}
}
@keyframes run2 {
    0%{background-image: url(ponka2_22.png);}
    50%{background-image: url(ponka3_22.png);}
    100%{background-image: url(ponka1_22.png);}
}
@keyframes stop1 {
    0%{left: 0px;}
    100%{left: 0px;}
}
@keyframes stop2 {
    0%{left: 150px;}
    100%{left: 150px;}
}
#item {
    width: 30px;
    height: 40px;
    position: relative;
    top: -140px;
    left: 750px;
    background-image: url(item1.png);
    background-size: 30px auto;
    background-repeat: no-repeat;
}
.item {
    animation: item 2s infinite linear;
}
@keyframes item {
    0%{left:100%;}
    100%{left:0px;}
}
#rumput {
    width: 100%;
    height: 100px;
    position: relative;
    top: 350px;
    background: linear-gradient(180deg, #78C197 0%, rgba(120, 193, 151, 0.27) 100%);
}
body .btn { 
    width: 85%;
    display: flex;
    justify-content: center;
}
body .btn .btntoo {
    cursor: pointer;
    border: none;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
    color: #348BB4;
}
body .btn .btntoo img {
    margin-top: 6.5px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
body .btn .btntoo p {
    font-size: 15px;
}
body .btn .btntoo:hover {
    color: white;
    background-color: #ffffff7f;
    border: 1px solid rgb(255, 255, 255);
}